{% load static %}
<footer>
    <!-- disini footer -->
      <div class="kontak-teks">
        <h2 class="animasi-scroll-top">Find Me.</h2>
        <div class="line-kontainer animasi-scroll-left"></div>
        <br />
        <h4>Feel free to find or contact me through any of the links below.</h4>
      </div>
      <div id="kontak">
        <a rel="noopener" target="_blank" href="https://github.com/Criptdestroyer">
          <i class="fa fa-github"></i>
        </a>
        <a rel="noopener" target="_blank" href="https://www.instagram.com/aemiralfath">
          <i class="fa fa-instagram"></i>
        </a>
        <a rel="noopener" href="mailto:ahmademir1201@gmail.com">
          <i class="fa fa-envelope"></i>
        </a>
      </div>
    </footer>
    <!-- Request  -->
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Mine -->
    <script type="text/javascript" src="{% static 'js/sgnzst.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lab_4.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>