<nav class="navbar">
    <!-- disini konten navbar -->
    <div class="kontainer-table">
      <a href="home"><i class="fa fa-home"></i>&nbsp;HOME</a>
      <br>
      <a href="/accounts/login/">Login</a>
    </div>
    
</nav>