*{
    font-family: "Sofadi One", cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *:focus,*:active{
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
  }
  html,body{
    max-width: 100%;
    height: 100%;
    background-color: #D5D7DB;
  }
  a{
    cursor: pointer;
    text-decoration: none;
    color: #000000;
  }
  a.disabled{
    cursor: not-allowed;
  }
  button{
    padding: 4px 10px 0px 10px;
    background: none;
  }
  .shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .navbar{
    top: 0px;
    opacity: 0.95;
    font-size: 22pt;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    position: fixed;
    z-index: 9997;
    transition: all 500ms ease-in-out;
  }
  #navbar-home{
    color: white;
    text-shadow: 0.5px 0.5px 15px black;
    transition: all 500ms ease-in-out;
  }
  /* HEADER */
  header{
    position: relative;
    width: 100%;
    min-height: 100%;
    background: url('../img/desk1.jpg');
    background-attachment: fixed;
    background-size: cover;
  }
  #banner{
    width: 100%;
    height: 400px;
    border-bottom: dashed 3px #000000;
  }

  #portofolio{
    background-image: url('../img/desk2.jpg')
  }

  #resume{
    background-image: url('../img/desk3.jpg')
  }

  #profile{
    /* background-image: url('../img/desk4.jpg') */
  }
  .menu-button{
    padding: 0 5px;
    font-size: 22pt;
    font-weight: bold;
    color: white;
    border: none;
    -webkit-text-stroke: 2px #000000;
    float: right;
  }
  #menu{
    display: none;
    position: fixed;
    top: 0;
    opacity: 0.9;
    min-width: 100%;
    min-height: 100%;
    background: #D5D7DB;
    overflow: hidden;
    z-index: 9998;
  }
  #menu button{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #banner-teks{
    position: relative;
    top: 100px;
  }
  #nama{
    color: white;
    margin-top: 10px;
    text-align: center;
    text-shadow: 2px 2px 15px black;
  }
  #nama h1{
    font-size: 40pt;
  }
  #sub-title{
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    background: #E8E9E8;
    opacity: 0.65;
  }
  .absolute-kontainer{
    position: absolute;
    top: 290px;
    width: 100%;
    height: 200px;
  }
  #poto-kontainer{
    width: 200px;
    height: 200px;
    margin: auto;
    background-position: center;
  }
  #poto-kontainer img{
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid #000000;
  }
  #menu-kontainer{
    position: relative;
    top: 80px;
  }
  #menu-kontainer a{
    display: block;
    text-align: center;
    font-weight: bolder;
    padding: 20px;
    width: 100%;
    color: #000000;
  }
  .menu-link{
    transition: all 750ms ease-out;
  }
  .menu-link:hover{
    background: #FFFFFF;
  }
  /* CLOSE HEADER  */
  
  /* KONTEN */
  .parallax{
    margin: 15px 0;
    color: white;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    overflow: hidden;
  }
  .line-parallax{
    width: 100px;
    height: 3px;
    background: white;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .konten-tengah{
    position:absolute;
    top:50%;
    width: 100%;
    transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    text-shadow: 2px 2px 15px black;
    text-align: center;
    overflow: hidden;
  }
  .konten-tengah h1{
    font-size: 34pt;
  }
  #about p{
    font-size: 14pt;
  }
  .a-button{
    margin: 0 5px 0 0;
    display: inline-block;
    font-weight: bolder;
    padding: 5px;
    color: #000000;
    border: solid #000000;
    border-radius: 5px;
    transition: all 500ms ease-in;
  }
  .a-button:hover{
    color: #FFFFFF;
    border: solid #000000;
    background: #000000;
  }
  .kontainer{
    position: relative;
    display: block;
    width : 100%;
    overflow: hidden;
  }
  .kontainer-table{
    width: 100%;
    display: table;
  }
  .line-kontainer{
    width: 50px;
    height: 3px;
    background: black;
    margin: 10px 0;
  }
  .line-kontainer-small{
    margin: 2px 0;
    width: 25px;
    height: 3px;
    background: black;
  }
  .main{
    width: 100%;
    padding: 20px;
    margin: 20px 0 20px 0;
    overflow: hidden;
  }
  .box{
    float: left;
    padding: 15px;
    margin: 10px 1% 10px 1%;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .box:hover{
    background-color: #FFFFFF;
    transform: scale(1.025);
  }
  .box-col-2{
    width: 48%;
  }
  .box-col-3{
    padding: 0;
    width: 31.3345%;
  }
  .box-col-4{
    width: 23%;
    height: auto;
  }
  .box-col-4 p {
    overflow-y: auto;
    font-size: 11pt;
    width: 100%;
    height: 75px;
  }
  .report-pic{
    text-align: center;
    margin: auto;
    width: 100%;
    height: 150px;
    background: white;
  }
  .report-pic img{
    width: 100%;
    height: 100%;
  }
  .report-desc{
    padding: 3px 1px;
    margin-top: 5px;
  }
  .report-desc p{
    margin: 10px 0;
  }
  .r-button{
    border: solid black 2px;
    font-size: 10pt;
    margin: 0px 2px;
    padding: 2px;
    border-radius: 5px;
    transition: all 750ms ease-in-out;
    float: right;
  }
  .r-button:hover{
    background: black;
    color: white;
  }
  .works-pic{
    text-align: center;
    margin: auto;
    width: 100%;
    height: 250px;
    background: white;
  }
  .works-pic img{
    display: inline-block;
    width: 100%;
    height: 250px;
  }
  .works-desc{
    padding: 15px;
    margin-top: 10px;
  }
  #works{
    margin: 0;
    width: 100%;
  }
  /* CLOSE KONTEN */
  
  /* FOOTER */
  footer{
    clear: both;
    width: 100%;
    margin-top: 35px;
    padding: 15px;
  }
  footer i{
    margin: 10px;
  }
  #kontak{
    margin: 15px 0;
    font-size: 16pt;
  }
  .legal{
    text-align: right;
    margin: 25px auto 0 auto;
    width: 100%;
  }
  /* CLOSE FOOTER */
  
  /* RESPONSIVE */
  @media screen and (max-width: 992px) {
    .box-col-2{
      display: block;
      width: 99%;
      margin-left: 1%;
      margin-right: 1%;
    }
    .box-col-3{
      width: 48%;
    }
    .box-col-4,.box-col-4-hidden{
      display: block;
      width: 31.3345%;
    }
    #loadMore-kontainer{
      display: none;
    }
  }
  @media screen and (max-width: 650px) {
    .box{
      display: block;
      width: 99%;
      margin-left: 1%;
      margin-right: 1%;
    }
    .box-col-4,.box-col-4-hidden{
      width: 48%;
    }
    #nama{
      margin-top: 35px;
    }
    #nama h1{
      font-size: 22pt;
    }
    #nama h3{
      font-size: 16pt;
    }
    #kontak{
      margin: 15px auto;
      text-align: center;
    }
    .legal{
      text-align: center;
    }
  }
  @media screen and (max-width: 450px) {
    .box-col-4,.box-col-4-hidden{
      width: 100%;
    }
  }
  
  @media screen and (max-height: 492px) {
    .absolute-kontainer{
      display: none;
    }
    #banner{
      border: none;
    }
  }
  /* CLOSE RESPONSIVE  */
  