{% extends "layout/base.html" %}
{% block title %} Pesan dari {{ name }} {% endblock %}

{% block content %}
<br><br><br>
<center>
    <textarea readonly rows="5" class="form-control">
        &quot;{{message}}&quot;-
        {{name}}
        by {{ email }}
    </textarea>
</center>
{% endblock %}

{% block footer %}
<p> &copy; {{name}} </p>
{% endblock %}