{% extends "layout/base.html" %}
{% load static %}

{% block content %}
          <header id="home">
              <!-- disini header -->
                <div id="banner">
                  <div id="banner-teks" class="kontainer">
                    <div id="nama" class="animasi-in-zoom">
                      <h1>Ahmad Emir Alfatah</h1>
                      <h3>Software Engineer</h3>
                    </div>
                    <div id="sub-title">
                      <h4 id="short-desc" class="animasi-fade">Welcome to my site.</h4>
                    </div>
                  </div>
                  <div class="absolute-kontainer">
                    <div class="animasi-in-zoom" id="poto-kontainer">
                      <img src="{% static 'img/me.JPG' %}" alt="">
                    </div>
                  </div>
                </div>
              </header>
                  <div id="profile" class="kontainer parallax">
                    <div class="konten-tengah">
                      <h1 class="animasi-scroll-left">Profile</h1>
                      <div class="line-parallax animasi-scroll-right"></div>
                    </div>
                  </div>
                  <div class="kontainer">
                  <!-- disini cv -->
                    <div class="main">
                      <div class="kontainer-table">
                        <h2 class="animasi-scroll-right">Profile.</h2>
                        <div class="line-kontainer animasi-scroll-left"></div>
                      </div>
                      <div class="kontainer-table">
                        <div class="box shadow box-col-2 animasi-scroll-right">
                          <h4>Personal Details.</h4>
                          <div class="line-kontainer-small"></div>
                          <br />
                          <p>
                            Name : Ahmad Emir Alfatah <br><br>
                            Birth Date : 12 January 2000 <br><br>
                            Gender : Male <br><br>
                            Religion : Moslem
                          </p><br>
                          <a class="a-button animasi-scroll-zoom" href="mailto:ahmademir1201@gmail.com">
                            <i class="fa fa-book"></i>&nbsp;My Email
                          </a>
                        </div>
                        
                          <div class="box shadow box-col-2 animasi-scroll-right">
                            <h4>Description.</h4>
                            <div class="line-kontainer-small"></div>
                            <br />
                            <p class="animasi-scroll-opacity">
                              I am a type of hard worker, diligent and confident person. In learning I have a  <br>
                              high spirit, meticulous and quick to understand, especially learning new <br>
                              things. I am able to work under pressure and can work with various parties<br>
                              in one job. In my group I was able to build good communication and <br>
                              create good cooperation, also able to accept constructive criticism and suggestions.
                            </p>
                            <br /><br>
                            <a class="a-button animasi-scroll-zoom" href="https://github.com/Criptdestroyer">
                              <i class="fa fa-github"></i>&nbsp;My Github
                            </a>
                          </div>
                        
                      </div>
                    </div>
                  </div>

                  <div id="resume" class="kontainer parallax">
                      <div class="konten-tengah">
                        <h1 class="animasi-scroll-left">Resume</h1>
                        <div class="line-parallax animasi-scroll-right"></div>
                      </div>
                    </div>
                    <div class="kontainer">
                    <!-- disini cv -->
                      <div class="main">
                        <div class="kontainer-table">
                          <h2 class="animasi-scroll-right">Resume.</h2>
                          <div class="line-kontainer animasi-scroll-left"></div>
                        </div>
                        <div class="kontainer-table">
                          <div class="box shadow box-col-2 animasi-scroll-right">
                            <h4>Organization.</h4>
                            <div class="line-kontainer-small"></div>
                            <br />
                            <p>
                              BEM KM Fasilkom Universitas Sriwijaya<br><br>
                              Developer Student Clubs Universitas Sriwijaya <br><br>
                              Technology Euphoria<br><br>
                              Ilkom Developer Universitas Sriwijaya <br><br>
                            </p>
                          </div>
                          <div class="box shadow box-col-2 animasi-scroll-left">
                            <h4>Educational Background.</h4>
                            <div class="line-kontainer-small"></div>
                            <br />
                            <p>
                              Elementary School 198 Palembang <br><br>
                              Junior High School 8 Palembang <br><br>
                              Sulthon Aulia Boarding School<br><br>
                              Informatics Engineering at Sriwijaya University<br><br>
                            </p>
                          </div>
                          <div class="box shadow box-col-2 animasi-scroll-left">
                            <h4>Skill.</h4>
                            <div class="line-kontainer-small"></div>
                            <br />
                            <p>
                              PHP & Codeigniter Framework <br><br>
                              Java (Netbeans, Maven, Junit) <br><br>
                              Linux & Shell Scripting<br><br>
                              Git<br><br>
                              Competitive Programming
                            </p>
                          </div>
                          <div class="box shadow box-col-2 animasi-scroll-left">
                            <h4>Achievement.</h4>
                            <div class="line-kontainer-small"></div>
                            <br />
                            <p>
                              <br><br>
                              First Winner Application Development Competition Srifoton <br><br>
                              3rd Winner Web Programming Competition IT Fest<br><br>
                              Top 5 Best Students at my Highscool Graduation<br><br>
                              Top 100 Participant National Olympiad Of Chemical Engineering
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div id="portofolio" class="kontainer parallax">
                      <div class="konten-tengah">
                        <h1 class="animasi-scroll-right">Portfolio</h1>
                        <div class="line-parallax animasi-scroll-left"></div>
                      </div>
                    </div>
                    
                    <div class="kontainer">
                      <div class="main">
                        <div class="kontainer-table">
                          <h2 class="animasi-scroll-right">Portfolio.</h2>
                          <div class="line-kontainer animasi-scroll-left"></div>
                        </div>

                        <div class="kontainer-table">
                            <div class="box shadow box-col-4 animasi-scroll-zoom">
                                <div class="report-desc">
                                  <h5>Website Lembaga Penelitan dan Pengabdian Masyarakat</h5>
                                  <a rel="noopener" class="r-button" target="_blank" href="http://lppm.unsri.ac.id/">
                                     <i class="fa fa-eye"></i>&nbsp;Read More</a>
                                </div>
                              </div>
                            <div class="box shadow box-col-4 animasi-scroll-zoom">
                              <div class="report-desc">
                                <h5>Website Open Recruitment Staff Bem KM Fasilkom Unsri</h5>
                                <a rel="noopener" class="r-button" target="_blank" href="http://bem.ilkom.unsri.ac.id/oprec/">
                                   <i class="fa fa-eye"></i>&nbsp;Read More</a>
                              </div>
                            </div>
                            <div class="box shadow box-col-4 animasi-scroll-zoom">
                                <div class="report-desc">
                                  <h5>Website PudingLab</h5>
                                  <a rel="noopener" class="r-button" target="_blank" href="http://pudinglab.id/">
                                     <i class="fa fa-eye"></i>&nbsp;Read More</a>
                                </div>
                              </div>
                              <div class="box shadow box-col-4 animasi-scroll-zoom">
                                  <div class="report-desc">
                                    <h5>Evoting PBGF Unsri 2019</h5>
                                    <a rel="noopener" class="r-button" target="_blank" href="http://pbgf2019.web.id/">
                                       <i class="fa fa-eye"></i>&nbsp;Read More</a>
                                  </div>
                                </div>
                        </div>
                      </div>
                    </div>

                    <section name="form">
                      <h2>Send Message</h2>
                      <form id="form" method="POST" action="{% url
                      '[lab_1]:message_post' %}">
                      {% csrf_token %}
                      {{ message_form }}
                      <br>
                      <button type="submit" class="btn btn-default">Submit</button>
                      </form>
                      <br>
                      <a href="message_table">Lihat semua pesan</a>
                      </section>
 {% endblock content %}

 {% block footer %}
<p> &copy; SutanLab </p>
{% endblock %}