<button class="open-button" onclick="openForm()">Chat</button>

<div class="chat-popup" id="myForm">
        <div class="form-container">
            <h1>Chat</h1>
            <div class="chat-body">
                <div class="msg-insert">
                    <div id="msg-insertForm"></div>
                </div>
            </div>
            <label for="msg"><b>Message</b></label>
            <textarea placeholder="Type message.." id="msg"></textarea>
          <button class="btn" onclick="sendForm()" >Send</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </div>
</div>
