<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% include 'partials/header.html' %}
        <title>{{ name }}</title>
    </head>
    <body>
        {% include 'partials/navbar.html' %}
        {% block content %}{% endblock content %}
        {% include 'lab_4.html' %}
        {% include 'partials/footer.html' %}
        {% block footer %}{% endblock %}
    </body>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }

        function sendForm(){
            var message = $("#msg").val();
            console.log(message);
            $('#msg-insertForm').append("<div class='msg-send'><p>"+message+"</p></div>'");
        }
    </script>
</html>

